/* This is "Mobile First" */

/* simple grid system */

.span-2-1,
.span-2-2 {
  grid-column: span 2;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.2rem;
}

h1 {
  margin: 0;
}

button {
  padding: 6px 13px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #e9ebeb;
  border-radius: 4px;
  background-color: #fff;
  color: #0e1e25de;
  box-shadow: 0 2px 4px 0 #0e1e251f;
  transition: all 0.2s ease;
  transition-property: background-color, color, border, box-shadow;
  cursor: pointer;
}

input {
  font-size: inherit;
}

button:focus,
button:hover {
  background-color: #f5f5f5;
  color: #0e1e25de;
  box-shadow: 0 8px 12px 0 #e9ebeb29, 0 2px 8px 0 #00000014;
  text-decoration: none;
}

.btn-danger {
  background-color: #fb6d77;
  border-color: #fb6d77;
  border-bottom-color: #e6636b;
  color: #fff;
}
.btn-danger:focus,
.btn-danger:hover {
  background-color: #fa3b49;
  border-color: #fa3b49;
  color: #fff;
}

.content {
  padding: 1.2rem;
  display: grid;
  grid-gap: 1.44rem;
}

.login-form {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.login-form form {
  padding: 1.25rem;

  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr 2fr;

  box-shadow: 0px 0px 0px 2px #78829840;
}

.todo-create-wrapper > * {
  margin: 0;
}

.todo-create-wrapper {
  padding: .75rem;
  display: grid;
  grid-gap: .5rem;
  background-color: #f8f8f8;  
  box-shadow: 0px 0px 0px 2px #78829840;
  border-radius: .5rem;
}

.todo-create-input {
  min-width: 150px;
  box-shadow: 0px 0px 0px 2px #78829840;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.todo-create-input:hover,
.todo-create-input:active,
.todo-create-input:focus {
  box-shadow: 0px 0px 0px 2px #2bbeb9;
  box-shadow: 0px 0px 0px 2px #00ad9f;
}

.todo-list ul {
  margin: 0;
  padding: 0;
}

.todo-list li {
  list-style-type: none;
  margin-bottom: 1.44rem;
}

.todo-item {
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: .5rem;
  min-height: 43px;
}

.todo-item-delete {
  grid-column: 2/3;
}

.todo-item-title {
  color: #5a5a5a;
  flex-grow: 1;
  min-width: 150px;
  padding: 8px;
  border-radius: 4px;

  box-shadow: 1px 1px 3px 3px #00000010;
}

.todo-item.todo-checked .todo-item-title {
  background-color: #83ffc1;
}

.app-header {
  background-color: #222;
  padding: 1rem;
  color: white;

  max-width: 100vw;

  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1fr 1fr;
}

.app-header * {
  margin: 0;
}

.app-header p {
  margin: 0.75rem 0;
}

.app-logo {
  height: 60px;
  animation: none;
}

.app-title {
  font-size: 1.44rem;
}

.app-deploy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deploy-button {
  width: 150px;
}

.view-src a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github-icon {
  width: 40px;
  margin: 5px;
}

/* Not Mobile view */
@media (min-width: 550px) {
  .span-2-1 {
    grid-column: span 1;
  }

  .app-logo {
    width: 100%;
    height: 100%;
  }

  .github-icon {
    width: 50px;
  }

  .app-title-text,
  .app-logo-wrap {
    grid-row: span 2;
  }

  .app-deploy,
  .view-src {
    grid-column: 3/4;
  }

  .app-header {
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }

  .todo-item {
    grid-template-columns: 20px auto 80px;

    padding: .75rem;
  }

  .todo-item-delete {
    grid-column: 3/4;
    align-self: start;
  }
}

/* Bigger screens */
@media (min-width: 1024px) {
  .deploy-button {
    width: 200px;
  }

  .app-header {
    grid-template-columns: 200px 4fr 1fr;
    align-items: center;
  }

  .app-title {
    font-size: 1.72rem;
  }

  .app-header p {
    font-size: 1.44rem;
  }

  
  .todo-create-wrapper {
    grid-template-columns: auto 150px;
  }

  
  .todo-item {
    grid-template-columns: 20px auto 150px;
  }
}
